.container {
    margin-top: 10px;
  }
  
  .toggleButton {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: transparent;
    border: 2px solid rgb(4, 4, 4);
    border-radius: 15px;
    padding: 2px;
    display: flex;
  }
  .toggleButton.dark {
    /* position: relative;
    width: 40px;
    height: 20px;
    background-color: transparent; */
    border: 2px solid rgb(242, 237, 237);
    /* border-radius: 15px;
    padding: 2px;
    display: flex; */
  }
  .toggleLeft {
    position: absolute;
    width: 18px;
    height: 18px;
    background: aliceblue;
    border-radius: 50%;
    padding: auto;
    border: 1px solid rgb(5, 5, 5);
  }
  .toggleRight {
    position: absolute;
    width: 19px;
    height: 19px;
    background-color: rgb(5, 6, 6);
    border-radius: 50%;
    margin: 0px 5px 5px 20px;
  }
  