.div {
    display: flex;
  
    margin: auto;
    border: 1px solid rgb(4, 4, 4);
  
    /* border-radius: 7px; */
    /* margin-bottom: 1px; */
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
  }
  .list {
    display: flex;
  }
  .amount {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-style: italic;
    width: 100px;
    height: 20px;
    text-align: center;
  }
  .desc {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-style: italic;
    width: 100px;
    text-align: center;
    height: 20px;
  }
  
  .cat {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-style: italic;
    width: 100px;
    text-align: center;
    height: 20px;
  }
  .actions {
    display: flex;
  }
  .row {
    display: flex;
  }
  .edit {
    background-color: rgb(51, 108, 200);
    color: white;
    /* border-radius: 5px; */
    padding: nome;
  }
  .edit:hover {
    background-color: rgb(117, 22, 205);
  }
  .delete {
    background-color: red;
    color: white;
    /* border-radius: 5px; */
  }
  .delete:hover {
    background-color: rgb(200, 28, 28);
  }
  td {
    background-color: rgb(6, 227, 251);
  }
  